<div class="row">
   <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm 12 col-md-7 col-lg-7 parte1">
          <h3>lego</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In quia ea eum obcaecati laudantium expedita necessitatibus id ad consequatur dignissimos iusto saepe, ipsum minima, accusamus doloribus ipsam dolorem. Maxime, laborum.</p>
        </div>

        <div class="col-sm 12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
           <img src="../../../assets/fotos/grupal.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
