<div class="row">
    <h1>Experiencia</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
            <h1>exp1</h1> -
            <h3>años</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium expedita vel ab odit quo! Esse beatae doloremque dignissimos sint. Ab quod suscipit repudiandae voluptatum eveniet eos vel. Quaerat, tempora porro.</p>
        </ul>
        <ul>
          <li>
          <h1>exp1</h1> -
          <h3>años</h3>
          </li>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium expedita vel ab odit quo! Esse beatae doloremque dignissimos sint. Ab quod suscipit repudiandae voluptatum eveniet eos vel. Quaerat, tempora porro.</p>
      </ul>
    </div>
</div>
